*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, var(--cor1-gradiente) 0%, var(--cor2-gradiente) 52.08%, var(--cor3-gradiente) 100%);
    height: 100vh;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 1360px;
    height: 581px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h-esquerdo{
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-header-esquerda);
}

.beija-flor{
    width: 400px;
    height: 400px;
}

.titulo-esquerda{
    color: var(--cor-fonte-titulos-header);
    text-align: center;
    font-family: Kanit;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h-direita{
    width: 680px;
    background-color: var(--cor-fundo-header-direita);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-direita{
    color: var(--cor-fonte-titulos-header);
    text-align: center;
    font-family: Kanit;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faixa-direita > span{
    margin: 74px 417px 58px;
}

.faixa-direita > p{
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: justify;
    font-family: Karla;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faixa-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 345px;
    justify-content: space-evenly;
}

.botao{
    width: 244px;
    height: 81px;
    border-radius: 25px;
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    height: 80px;
    width: 1360px;
    background-color: var(--cor-fundo-navbar);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.menu-itens{
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-s01{
    width: 1360px;
    height: 500px;
    background-color: var(--cor-fundo-containers);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 62px;
}

.card-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 453px;
    background-color: var(--cor-fundo-cards);
    margin: 20px 20px;
    border-radius: 25px 25px 0px 0px;
}

.card-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 453px;
    background-color: var(--cor-fundo-cards);
    margin: 20px 20px;
    border-radius: 25px 25px 0px 0px;
}

.card-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 453px;
    background-color: var(--cor-fundo-cards);
    margin: 20px 20px;
    border-radius: 25px 25px 0px 0px;
}

.foto-card-esq{
    margin-top: 29px;
    width: 178px;
    height: 178px;
}

.card-esquerda > span{
    color: var(--cor-fonte2);
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.foto-card-mei{
    margin-top: 29px;
    width: 178px;
    height: 178px;
}

.card-meio > span{
    color: var(--cor-fonte2);
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.foto-card-dir{
    margin-top: 29px;
    width: 178px;
    height: 178px;
}

.card-direita > span{
    color: var(--cor-fonte2);
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.container-s02{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-fundo-cards);
    width: 1360px;
    height: 560px;
    gap: 61px;
}

.fundo-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    width: 868px;
    height: 520px;
    background-color: var(--cor-fundo-containers);
    border-radius: 50px 0px 0px 50px;
}

.fundo-conteudo > span{
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.fundo-conteudo > p{
    color: var(--cor-fonte1);
    text-align: justify;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botão{
    width: 246px;
    height: 81px;
    border-radius: 25px;
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-s03{
    display: flex;
    flex-direction: row;
    width: 1359.001px;
    height: 492px;
    background-color: var(--cor-fundo-cards);
}

.retangulo-facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo-redes-sociais1);
    width: 452.667px;
    height: 492px;
}

.retangulo-titulo-facebook{
    background-color: var(--cor-fonte2);
    width: 453.666px;
    height: 93px;
    color: var(--cor-fonte1);
    text-align: center;
    text-align: center;
    font-family: Kanit;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-facebook{
    width: 150px;
    height: 150.113px;
}

.botao-facebook{
    width: 244.82px;
    height: 81px;
    border-radius: 25px;
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.retangulo-instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo-cards);
    width: 452.667px;
    height: 492px;
}

.retangulo-titulo-instagram{
    background-color: var(--cor-fundo-redes-sociais1);
    width: 453.666px;
    height: 93px;
    color: var(--cor-fonte1);
    text-align: center;
    text-align: center;
    font-family: Kanit;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-instagram{
    width: 150px;
    height: 150.113px;
}

.botao-instagram{
    width: 244.82px;
    height: 81px;
    border-radius: 25px;
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.retangulo-tiktok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo-redes-sociais1);
    width: 452.667px;
    height: 492px;
}

.retangulo-titulo-tiktok{
    background-color: var(--cor-fonte2);
    width: 453.666px;
    height: 93px;
    color: var(--cor-fonte1);
    text-align: center;
    text-align: center;
    font-family: Kanit;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-tiktok{
    width: 150px;
    height: 150.113px;
}

.botao-tiktok{
    width: 244.82px;
    height: 81px;
    border-radius: 25px;
    background-color: var(--cor-fundo-faixa-direita);
    color: var(--cor-fonte1);
    text-align: center;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-footer{
    background-color: var(--cor-fundo-header-direita);
    width: 1360px;
    height: 290px;
    display: flex;
    flex-direction: row;
}

.conteudo-footer-esq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-fonte2);
    width: 908px;
    height: 290px;
}

.conteudo-footer-esq > span{
    color: var(--cor-fonte1);
    text-align: justify;
    font-family: Kanit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.conteudo-footer-esq > p{
    color: var(--cor-fonte1);
    text-align: justify;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.conteudo-footer-dir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 452px;
    height: 290px;
    background-color: var(--cor-fundo-containers);
}

.beija-flor{
    width: 250px;
    height: 250px;
}